.password-container{
    width: 100%;
    height: 100vh;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: segoe UI;

}

.pass{
    width: 40%;
    /* height: 300px; */
    background-color: #0A1521;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.flex3{
    display: flex;
    justify-content: space-between;
}
.flex3 >h3{
    color: white;
    line-height: 40px;
    font-weight: 500;
}

.classinit{
    padding: 10px 20px;
    width: 60%;
    outline: none;
    border: none;
    font-size: 16px;
}

.flex5{
    display: flex;
    justify-content: flex-end;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.flex5 > h3{
    font-weight: 400;
   
}